name: C/C++ CI cmake

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v6
    - name: cmake
      run: mkdir build && cd build && cmake ..
    - name: make
      run: cd build && make
    - name: Install sox
      run: sudo apt-get update && sudo apt-get install -y sox
    - name: Run tests
      run: ./test/run_tests.sh
